.nav-bg{
    background-color: #283747 ;
}

.prim-btn{
    background-color: #9482ff  !important;
}

.secon-btn{
    background-color: #f18b9a !important;
}

.login-fonts{
    font-size:150%;
    font-style: oblique;
    font-weight: bold;
}