<div class="container">
    {% from 'includes/__formhelpers.html' import render_field %}
    <form action="" method="post">
        <div class="form-group"> 
            {{ render_field(form.title, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field(form.body, class="form-control", id="editor") }}
        </div>
        <input type="submit" class="btn btn-primary" value="Update">
        <a class="btn btn-primary" href="{{ url_for('dashboard')}}" role="button">Cancel</a>
    </form>    
</div>