
<nav class="navbar navbar-expand-lg nav-bg navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename = 'images/logo.png')}}" class="img-thumbnail" width="50" height="50" alt="logo">  <span class="px-2">My Blog</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link " role ="button" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="{{ url_for('about') }}">About</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('articles') }}">Articles</a>
      </li>
      
    </ul>
    <ul class="nav justify-content-center">
      {% if session.username %}
      <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('dashboard') }}" type='link'>Dashboard</a>
      </li>
      <li class="nav-item ">
        <a class="btn btn-danger " href="{{ url_for('logout') }}" role='button'>Logout</a>
      </li>
      {% else %}
      <li class="nav-item ">
        <a class="btn btn-primary " href="{{ url_for('register') }}" role='button'>Register</a>
      </li>
      <li class="nav-item pl-2">
        <a class="btn btn-success" href="{{ url_for('login') }}" role='button'>Login</a>
      </li>
      {% endif %}
      
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
