{% extends 'layout.html' %}
{% block body %}

{% if form %}
   
  {% if data %}
      <h2>Edit Article</h2>
      {% include 'includes/__edit_article.html'%}
      <hr>
  {% else %}
      <h2>Add Article</h2>
      {% include 'includes/__add_article.html'%}
      <hr>    
  {% endif %}    
{% else %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Dashboard</h5>
      <h6 class="card-subtitle mb-2 text-muted">Welcome...! Mr {{ session.username}}</h6>
      <a class="btn btn-primary" href="{{ url_for('add_article', id = 0)}}" role="button">Add Article</a>   
    </div>
  </div>

  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename = 'images/user.png')}}" class="img-thumbnail p-2" alt="Personal Image" height="50%" width="50%">
      </div>
      <div class="col-md-8">
        <div class="card-body d-flex flex-column">
         
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

{% endif %}
  <hr>
  {% if articles %}
    {% include 'includes/__article_list.html'%}
  {% endif %}   
{% endblock %}