{% extends 'layout.html' %}
{% block body %}

{% if form %}
   
  {% if data %}
      <h2>Edit Article</h2>
      {% include 'includes/__edit_article.html'%}
      <hr>
  {% else %}
      <h2>Add Article</h2>
      {% include 'includes/__add_article.html'%}
      <hr>    
  {% endif %}    
{% else %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Dashboard</h5>
      <h6 class="card-subtitle mb-2 text-muted">Welcome...! Mr {{ session.username}}</h6>
      <a class="btn btn-primary" href="{{ url_for('add_article', id = 0)}}" role="button">Add Article</a>   
    </div>
  </div>

{% endif %}
  <hr>
  {% if articles %}
    {% include 'includes/__article_list.html'%}
  {% endif %}   
{% endblock %}